BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
Language: Cpp

# Control of individual formatting aspects
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
TabWidth: 4
UseTab: Never

# Specific settings for access modifiers
AccessModifierOffset: -4

# Indent function definitions inside namespaces
NamespaceIndentation: All

# New settings for extern blocks
IndentExternBlock: true

# Indent case labels after switch
IndentCaseLabels: true
IndentCaseBlocks: true